* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "nunito", sans-serif;
}

body {
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    list-style-type: none;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
